!target/
target/.rustc_info.json
target/CACHEDIR.TAG
!target/release/
target/release/*

debug/
**/*.rs.bk
*.pdb

Cargo.lock

# Compiled plugins
*.so
*.dylib
*.dll

!target/release/filly
!target/release/libfilly_plugin_artixforge.so
!target/release/libfilly_plugin_gforge.so

__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db